<div id="system">
    <a class="btn-sys btn-themes"><i class="fa fa-photo"></i> Themes</a>
    <a class="btn-sys btn-restart"><i class="fa fa-refresh"></i> Restart</a>
    <a class="btn-sys btn-undo"><i class="fa fa-undo"></i> Undo</a>
    <div id="timer"></div>
</div>

<div id="themespane" class="pane">
	<ul class="pane-content row">
		<li data-theme="default" class="col-md-4 theme-item default-theme current">
			<i></i>
			<span>Default</span>
		</li>
		<li data-theme="red" class="col-md-4 theme-item red-theme">
			<i></i>
			<span>Red</span>
		</li>
		<li data-theme="blue" class="col-md-4 theme-item blue-theme">
			<i></i>
			<span>Blue</span>
		</li>
		<li data-theme="pink" class="col-md-4 theme-item pink-theme">
			<i></i>
			<span>Pink</span>
		</li>
		<li data-theme="wildwest" class="col-md-4 theme-item wildwest-theme">
			<i></i>
			<span>West</span>
		</li>
		<li data-theme="wood" class="col-md-4 theme-item wood-theme">
			<i></i>
			<span>Wood</span>
		</li>
	</ul>
</div>