/* ==========================================================================
    Intro
   ========================================================================== */

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

#intro {
    width: 300px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -55px 0 0 -150px;
}

#intro h1 {
    background: url('img/solitaire.png');
    width: 300px;
    height: 27px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 3000px;
}

#intro .btn {
    left: 50%;
    margin: 0 0 0 -50px;
    position: relative;
}

.btn-green {
    background: url('img/black-trans.png') repeat;
    border: 1px solid #aaa;
    color: #ddd;
    cursor: pointer;
    width: 100px;
    z-index: 1;
}

.btn-green:hover {
    background: url('img/black-trans.png') repeat;
    border: 1px solid #fff;
    color: #fff;
}


/* ==========================================================================
    Panel
   ========================================================================== */

#quard-loader {
    background: url('img/black-trans.png') repeat;
    height: 10px;
    left: 0;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

#panel-window {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#panel-window .panel-inner {
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}

#panel-window .panel-btm {
    border-top: 1px solid #aaa;
}

#panel-window .panel-top {
    border-bottom: 1px solid #aaa;
}

#panel-window .panel-btm.panel-closed {
    border-top: none;
}

#panel-window .panel-top.panel-closed {
    border-bottom: none;
}


/* ==========================================================================
    System
   ========================================================================== */

#system {
    background: url('img/black-trans.png') repeat;
    border: 1px solid #aaa;
    bottom: 0;
    height: 40px;
    left: 50%;
    position: absolute;
    z-index: 1;
    border-radius: 5px 5px 0 0;
    margin: 0 0 0 -337px;
    width: 676px;
}

.btn-sys {
    color: #ddd;
    float: left;
    font-size: 14px;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.btn-sys:hover {
    color: #fff;
    text-decoration: none;
}

#timer {
    float: right;
    margin: 10px 15px 0 0;
    font-size: 15px;
    color: #fff;
}

#themespane {
    bottom: 75px;
    display: none;
    left: 0;
}

.pane {
    border-radius: 5px;
    bottom: 73px;
    left: 0;
    padding: 15px;
    position: absolute;
    width: 675px;
    z-index: 1;
}

.pane-content {
    position: relative;
    z-index: 2;
}

.pane ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pane ul li {
    display: block;
    padding: 10px;
    cursor: pointer;
    color: #ddd;
    opacity: 0.7;
}

.pane ul li:hover, .pane ul li.current {
    color: #fff;
    opacity: 1;
}

.pane ul li i {
    background-size: 50px;
    border: 1px solid #aaa;
    float: left;
    height: 50px;
    margin: 0 10px 0 0;
    width: 50px;
}

.pane ul li:hover i, .pane ul li.current i {
    border: 1px solid #eaeaea;
}

.default-theme i {
    background: url('../default/bg.jpg') repeat scroll 0 0 transparent;
}

.blue-theme i {
    background: url('../blue/bg.jpg') repeat scroll 0 0 transparent;
}

.red-theme i {
    background: url('../red/bg.jpg') repeat scroll 0 0 transparent;
}

.pink-theme i {
    background: url('../pink/bg.jpg') repeat scroll 0 0 transparent;
}

.wildwest-theme i {
    background: url('../wildwest/bg.jpg') repeat scroll 0 0 transparent;
}

.wood-theme i {
    background: url('../wood/bg.jpg') repeat scroll 0 0 transparent;
}


/* ==========================================================================
    Win
   ========================================================================== */

#win {
    background: url("img/black-trans.png") repeat scroll 0 0;
    border-bottom: 2px solid #aaa;
    border-top: 2px solid #aaa;
    color: #fff;
    left: 50%;
    margin: -100px 0 0 -160px;
    padding: 15px 70px;
    position: absolute;
    top: 50%;
    width: 320px;
    z-index: 2;
}

#win h3 {
    text-align: center;
    color: #e1e1e1;
}

#win .row {
    border-top: 1px solid #aaa;
    padding: 10px 0;
}

#win .block {
    background: url("img/black-trans.png") repeat scroll 0 0;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
}

#win .block .btn-restart {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}